In [10]:
CREATE SCHEMA silage;
GO

In [2]:
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY IDENTITY(1,1),
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Email NVARCHAR(100) UNIQUE NOT NULL,
    PhoneNumber NVARCHAR(15),
    DateOfBirth DATE,
    CreatedAt DATETIME DEFAULT GETDATE(),
    IsActive BIT DEFAULT 1
);

-- Insert sample data into Customers table
INSERT INTO Customers (FirstName, LastName, Email, PhoneNumber, DateOfBirth)
VALUES 
    ('John', 'Doe', 'john.doe@example.com', '123-456-7890', '1985-07-15'),
    ('Jane', 'Smith', 'jane.smith@example.com', '234-567-8901', '1990-03-22'),
    ('Alice', 'Johnson', 'alice.johnson@example.com', '345-678-9012', '1995-05-30');

-- Query to check data in Customers table
SELECT * FROM Customers;

CustomerID,FirstName,LastName,Email,PhoneNumber,DateOfBirth,CreatedAt,IsActive
1,John,Doe,john.doe@example.com,123-456-7890,1985-07-15,2024-11-08 08:52:11.173,1
2,Jane,Smith,jane.smith@example.com,234-567-8901,1990-03-22,2024-11-08 08:52:11.173,1
3,Alice,Johnson,alice.johnson@example.com,345-678-9012,1995-05-30,2024-11-08 08:52:11.173,1

In [7]:
-- select * from mtcars;
-- drop table Chains.sizes;
drop SCHEMA Chains;